.VideoSectionCard{
    width:30vmax;
    height:48vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-repeat: no-repeat;
    justify-content:center;
    background-size: cover;
    margin: 0.5vmax;
    cursor: pointer;
}

.VideoSectionCard > a{
    padding: 2.5vmax;
    transition: all 0.5s;
    border-radius:100%;
    background-color:rgba(255,255,255,0.0960);
}

.VideoSectionCard p{
    color: #fff;
}

.VideoSectionCard > a >svg{
    fill: #fff;
}

.VideoSectionCard:hover a{
    padding: 2.5vmax;
    background-color:rgba(255,255,255,0.5);
}
